@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html,
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    background-color: #1D272F;
    height: 7vh;
}

header img {
    padding-left: 10px;
    padding-top: 5px;
    height: 35px;
    width: 40px;
    margin: px auto;
}

header img:hover {
    cursor: pointer;
}

header h1 {
    margin: 0 auto;
    text-align: center;
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    background-color: #2F3D48;
    width: 330px;
    transition: 0.3s width;
}

.toggle {
    background-color: #26323C;
    height: 40px;
    color: #999;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.toggle:hover {
    color: white;
}

.toggle:hover .arrow-down {
    fill: white;
}

.toggle p,
svg {
    align-self: center;
}

.toggle p {
    margin: 1.5em;
}

.toggle-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.location-container {
    color: white;
    height: calc(28vh - 1px);
    transition: 0.5s height ease;
}

.item-container p {
    margin: 0.5em 0;
}

.item-container,
#restaurant {
    padding-left: 1.5em;
}

input {
    border-radius: 5px;
}

input,
select,
#custom-handle {
    outline: none;
}

#country-list {
    width: 150px;
}

.filter-container {
    background-color: #2F3D48;
    height: calc(31vh - 1px);
    transition: 0.5s height ease;
}

.filter-container label,
.location-container label:nth-of-type(1) {
    display: block;
    margin: 0;
    padding: 0.5em 0;
    color: white;
}

#cost-slider {
    width: 250px;
    margin-top: 8px;
}

#custom-handle {
    width: 3.5em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

.filter-container a {
    font-size: 1em;
    border: 1px solid #999;
    background-color: white;
    color: black;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 18px;
}

#category-list,
#country-list,
#city_autocomplete {
    font-size: 1em;
}

.restaurant-container {
    height: 34vh;
    transition: 0.5s height ease;
}

#restaurant {
    height: calc(34vh - 40px);
    overflow-y: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 1em 0 1em 0;
    color: #999;
}

.selected {
    color: white;
    font-weight: 600;
}

li:hover,
li:focus {
    cursor: pointer;
    color: white;
}


/* CSS for animation */

.slide {
    width: 0;
    visibility: hidden;
    transition: 0.3s width, 0.3s visibility;
}

.hide {
    visibility: hidden;
}

.close {
    max-height: 0;
    transition: 0.3s height, 0.3s visibility;
}

#location,
#filter,
#restaurant {
    height: calc(100% - 40px);
    transition: 0.5s width ease;
}

#map {
    background-color: gray;
    margin: 0;
    width: calc(100% - 330px);
    height: 93vh;
    transition: 0.3s width;
}

.infowindow-container {
    width: 250;
}

@media screen and (min-height:710px) {
    header {
        height: 4.5vh;
    }
    .control-container {
        height: calc(18vh - 1px);
    }
    #map {
        height: 95.5vh;
    }
    .restaurant-list-container {
        height: 77.5vh;
    }
}

@media screen and (max-height: 670px) {
    header {
        height: 7vh;
    }
    body {
        font-size: 12px;
    }
    .control-container {
        height: calc(28vh - 1px);
    }
    .restaurant-list-container {
        height: 65vh;
    }
}