@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html,
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

aside {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2F3D48;
    width: 330px;
    height: 100vh;
    z-index: 2;
}

.control-container {
    background-color: #1D272F;
    height: calc(25vh - 1px);
    border-bottom: 1px solid black;
    padding-left: 1.5em;
}

.control-container p {
    margin: 0;
    padding: 0.5em 0;
    color: white;
}

#price-slider {
    width: 250px;
    margin-top: 15px;
}

#custom-handle {
    width: 3.5em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

.control-container a {
    font-size: 1em;
    border: 1px solid #999;
    background-color: white;
    color: black;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 18px;
}

#cuisine-list {
    font-size: 1em;
}

ul {
    list-style-type: none;
    padding-left: 1em;
}

li {
    margin: 1em;
    color: #999;
}

.selected {
    color: white;
    font-weight: 600;
}

li:hover,
li:focus {
    cursor: pointer;
    color: white;
}

.restaurant-list-container {
    height: 75vh;
    overflow-y: auto;
    position: relative;
}

#map {
    background-color: gray;
    margin: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.infowindow-container {
    width: 250;
}